<?xml version="1.0" encoding="utf-8"?>
<!--
  Variante KIOSK: permite escolher o app como Launcher/Home padrão do Android.
  Gerada pelo flavor "kiosk" (assembleKioskRelease).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
